@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgb(31 41 55 / var(--tw-bg-opacity)) inset !important;
  -webkit-text-fill-color: rgb(239 68 68 / var(--tw-text-opacity)) !important;
}
