div.errorContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: rgb(239, 230, 227);
  width: 100vw;
  height: 100vh;
  font-size: 7rem;
  padding-left: 30px;
  padding-right: 30px;
}
