.header {
  height: 10vh;
  width: 100vw;
  background-color: rgb(35 39 47);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLight {
  height: 10vh;
  width: 100vw;
  background-color: var(--secondary-background-light);
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}
