.headerContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 40px;
}

.loading {
  display: flex;
  justify-content: center;
}

.paginationContainer {
  display: flex;
  flex-direction: column;
}

.paginationContainerOver {
  display: flex;
  flex-direction: column;
  opacity: 0.2;
}
