#root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0px;
}

header {
  height: 10vh;
  width: 100vw;
  background-color: mediumseagreen;
}

main {
  height: 90vh;
  width: 100vw;
  background-color: slateblue;
}
